.tables {
    border: 1px solid #d8dadc;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    .table {
        margin-bottom: 20px;
        .header {
            font-size: 20px;
            border-bottom: 1px solid #d8dadc!important;
        }
        #add {
            display: flex;
            /deep/ .comDiv {
                .modelItem {
                    .leftSpan {
                        min-width: 60px!important;
                    }
                }
            }
        }
        .pro_tables {
            padding: 10px;
        }
    }
    .btn_box {
        padding-top: 80px;
        padding-bottom: 40px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        .btn {
            width: 100px;
            height: 30px;
            border: none;
            border: 10px !important;
            border: 1px solid #d8dadc;
            border-radius: 3px;
            line-height: 29px;
        }
        .btn1 {
            margin-right: 20px;
            // border-radius: 3px;
            background: #d81f49;
            color: #fff;
        }
    }
}