.someTableDiv {
    padding: 20px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.someTable {
    color: #333333;
    font-size: 13px;
    display: table;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
    border-right: #E6E6E6 1px solid;
    border-bottom: #E6E6E6 1px solid;
    border-color: #E6E6E6;
}

.someTable td {
    border: #E6E6E6 1px solid;
}

.someTable th {
    border-left: #E6E6E6 1px solid;
    border-top: #E6E6E6 1px solid;
}

.comTr .title1 {
    background-color: #F8F8F8;
    // width: 15%;
    padding: 11px;
    color: #666;
    min-width: 180px;
}

.comTr .content1 {
    max-height: 42px;
    padding: 0 12px;
    width: 35%;
    word-break: break-all;
}

.someMarginleft {
    margin-left: 8px;
    color: #494949 !important;
    font-weight: normal;
}

.detailTitle {
    padding: 14px;
    background: #fff;
    border-bottom: 1px solid #E9E9E9;
}

.someSubDiv {
    // border-top: 1px solid #E9E9E9;
    background-color: #F7F8FA;
    padding: 9px 20px;
    color: #4e606e;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    display: block;
    ;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    line-height: 30px;
    background: #fff;
    border: none;
    border: 1px solid #ccc;
    ;
    border-radius: 9px;
}

.btn:hover {
    background: rgb(255, 42, 42);
    color: #fff;
    cursor: pointer;
}

.thisTablle {
    th {
        padding: 8px 0;
    }
    th,
    td {
        text-align: center;
    }
}